@import '../../variables.scss';

.card.info-box {
    .card-body {
        display: flex;
        padding: 20px !important;

        .fa {
            font-size: 64px;
        }

        .content {
            margin: auto;
            flex-direction: column;
            align-items: flex-start;
            max-width: 70px;
            display: flex;
        }
    }
}