@import '../../variables.scss';

.card {
    border-radius: 10px !important;
    overflow: hidden;
    border: 0 !important;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06),0 1px 4px rgba(0,0,0,.08) !important;

    .fa {
        color: rgba(102,51,153,.28);
    }

    .card-body {
        padding: 0 !important;
    }
    
    .card-title {
        color: $primary;
    }
}