@import '../../variables.scss';
@import '~react-input-range/lib/css/index.css';

.device-details {
    margin-bottom: 15px;

    .col-icon {
        flex: 0 0 55px;
        max-width: 55px;
        text-align: center;
    }

    .icon {
        font-size: 40px;
    }

    .toggle {
        font-size: 40px;
        opacity: 0.5;
        margin-right: 15px;

        &.on {
            color: $primary;
            opacity: 1;
        }
    }

    .percent, span {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }
}

.input-range {
    height: 30px;
}

.input-range__track {
    height: 15px;
}

.input-range__track--background {
    margin-top: -7.5px;
}

.input-range__label {
    display: none;
}

.input-range__slider {
    background: $primary;
    border-color: $primary;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -22.5px;
}

.input-range__track--active {
    background: $primaryMuted;
}